@charset "UTF-8";
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,700,800,400");
@import url("http://fonts.googleapis.com/css?family=Kaushan+Script");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  *zoom: 1; }
  body:before,
  body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.full-monty {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%; }

.one-half {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%; }

.one-third {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%; }

.one-fourth {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%; }

.one-sixth {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%; }

.last {
  margin-right: 0 !important;
  clear: right; }

.leftFlush {
  margin-left: 0 !important;
  clear: left; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, main, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: transparent; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  line-height: 28.8px;
  line-height: 1.8rem;
  background: white;
  position: relative;
  color: #8B8C8D; }

.wrapper {
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

p {
  color: #8B8C8D;
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 1.5%; }

a {
  text-decoration: none;
  color: #8B8C8D;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in; }
  a:hover {
    color: #5DCF32; }

ul, span {
  margin: 0;
  padding: 0;
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem; }

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  margin: 0; }

blockquote {
  position: relative;
  color: black;
  padding-left: 3em;
  font-style: italic;
  margin-top: 6em;
  margin-bottom: 4em; }
  blockquote p {
    color: black;
    color: white;
    padding: 0 7em 0 4em; }
  blockquote::before {
    position: absolute;
    content: "";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    font-size: 57.6px;
    font-size: 3.6rem;
    line-height: 86.4px;
    line-height: 5.4rem;
    top: -1.3em;
    left: 0.3em; }
  blockquote::after {
    position: absolute;
    content: "";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    font-size: 57.6px;
    font-size: 3.6rem;
    line-height: 86.4px;
    line-height: 5.4rem;
    bottom: -0.5em;
    right: -0.1em; }

code {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  color: black;
  color: #595959;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  color: #595959; }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 60px;
  line-height: 3.75rem; }

h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

h5 {
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem; }

h6 {
  font-size: 12.8px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* 
* index.scss
* for:
* index.jade
* 
*/
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
